<div class="mdl-dialog">
  <h4 class="mdl-dialog__title">Edit photo</h4>

  <div class="mdl-dialog_content">
    <img id="edit-img">
  </div>

   <div class="mdl-dialog__actions">
    <button id="edit-save" type="button" class="mdl-button">Save</button>
    <button id="edit-cancel" type="button" class="mdl-button">Cancel</button>
  </div>
</div>
