<div class="icons">
  <a href="http://bit.ly/2jadHu1"><img src="/public/img/Facebook.png" alt="facebook" title="View Facebook page"></a>
  <a href="http://bit.ly/2kpfTi9"><img src="/public/img/Instagram.png" alt="instagram" title="View more photos on Instagram"></a>
  <a href="http://bit.ly/2kJ8Bpp"><img src="/public/img/Tumblr.png" alt="tumblr" title="View more photos on Tumblr"></a>
  {{#if includeGallery}}
    <a href="/gallery/"><img src="/public/img/Gallery.png" alt="gallery" title="Go to the gallery"></a>
  {{/if}}
</div>
