{{#if photos.length}}
  <ul id="thumbnails">
    {{#each photos}}{{{indexThumbnail @index}}}{{/each}}
  </ul>
{{else}}
  <p class="empty-gallery-msg">There are no photos yet in this gallery.</p>
{{/if}}
