<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{title}}</title>
    <link rel="apple-touch-icon-precomposed" href="/public/img/icon-192.png">
    <link rel="icon" href="/public/img/icon-192.png">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link href="/public/css/taihaijapan-0.6.0.min.css" rel="stylesheet">

    {{> sns.facebook}}

    {{> sns.twitter}}

  </head>
  <body id="{{bodyId}}">
