{{> header}}
  {{> logo}}

  <div class="galleryLink top">
    <a href="https://taihaijapan.com/gallery/">Go back to the gallery</a>
  </div>

  {{{ampPhoto sizes photo}}}

  <div class="galleryLink bottom">
    <a href="https://taihaijapan.com/gallery/">Go back to the gallery</a>
  </div>

{{> footer}}
