{{> header}}
  {{> logo}}

  <a href="https://taihaijapan.com/gallery/">Go back to the gallery</a>
  {{{ampPhoto sizes photo}}}
  <a href="https://taihaijapan.com/gallery/">Go back to the gallery</a>

{{> footer}}
