{{> pageHeader}}

    <div id="header">
      <img id="logo" src="/public/img/logo-L.png" width="1500" height="626">

      {{> icons includeGallery=true}}
    </div>


    <div id="bgImg"></div>
    <div id="bgDark"></div>

    {{> indexPhotos}}

    <a id="viewMore" href="/gallery/">View more</a>

{{> pageFooter}}
