{{> pageHeader}}

    <div id="header">
      <img id="logo" src="/public/img/logo-L.png" width="1500" height="626">

      {{> icons includeGallery=true}}
    </div>


    <div id="bgImg"></div>
    <div id="bgDark"></div>

    {{> indexPhotos}}

    <a id="viewMore" href="/gallery/">View more</a>
    <script src="/public/js/index-0.5.0.min.js" type="text/javascript"></script>

{{> pageFooter}}
