<header>
  <a href="/">
    <amp-img alt="taihaijapan logo"
      src="/public/img/logo-h-s.png"
      srcset="/public/img/logo-h-xl.png 2000w,
              /public/img/logo-h-l.png 1024w,
              /public/img/logo-h-m.png 667w,
              /public/img/logo-h-s.png 480w"
    >
    </amp-img>
  </a>
</header>
