@import "constants.scss";
@import "reset.scss";

#page-admin {

  .mdl-layout-title a {
    color: #ffffff;
    text-decoration: none;
  }

  h4 {
    padding-left: 1em;
  }

  #edit-dialog {
    width: 85%;

    h4 {
      margin-bottom: 1em;
    }
  }

  #remove-dialog {
    h4 {
      padding-left: inherit;
      margin-bottom: 1em;
    }
  }

  #upload-photo,
  #edit-dialog {
    #photo {
      display: none;
    }

    #photo-icon {
      margin-left: 20px;
    }

    #new-thumbnail {
      width: 90%;
      cursor: pointer;
    }
    #edit-photo {
      width: 90%;
      margin-bottom: 2em;
    }

    #new-thumbnail-loading {
      display: none;
      width: 50%;
      margin: 3em auto;
    }

    #info-side,
    #edit-info-side {
      margin-top: -20px;
    }

    .mdl-textfield {
      display: block;
      width: 100%;
    }
  }

  #thumbnails {
    max-width: $page-max-width;
    margin: 0 10px;

    li {
      display: inline-block;
      margin: 10px auto 0;

      .mdl-card {
        width: 95%;
        margin: 0 auto;
      }

      &.removed {
        img {
          opacity: 0.3;
        }

        .permalink a {
          color: #a7a7a7;
        }
      }

      &.update-pending .update-icon {
        display: block !important;
      }

      .preview {
        margin-bottom: 1em;

        .mdl-card__title {
          padding: 0;
        }

        img {
          cursor: pointer;
          vertical-align: middle;
          width: 100%;

          &:hover {
            opacity: $img-highlight-opacity;
          }
        }

        .permalink {
          margin-right: 0.5em;
        }

        .update-icon {
          display: none;
          position: absolute;
          top: 10px;
          right: 10px;
          padding: 0;
        }
      }

      .edit {
        position: relative;
        display: none;
        padding: 20px;

        .properties {
          display: inline-block;

          .property {
            line-height: 1.5em;

            span {
              font-weight: bold;
            }
          }
        }

        img {
          cursor: pointer;
          vertical-align: top;
          margin-right: 20px;

          &:hover {
            opacity: $img-highlight-opacity;
          }
        }

        .update-icon {
          display: none;
          position: absolute;
          top: 10px;
          right: 60px;
          padding: 0;
        }
      }

      &.active {
        display: block;
        width: 100%;
        background: #f0f0f0;

        .preview {
          display: none;
        }

        .edit {
          display: block;
        }
      }

      .close-button {
        position: absolute;
        top: 20px;
        right: 20px;
      }

      .hide-button {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: inherit;
      }
    }
  }
}
