
.mdl-layout-title a {
  color: #ffffff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h4 {
  padding-left: 1em;
}

section {
  h4 {
    margin-left: 0.85em;
  }
}

@media screen and (max-width: 500px) {
  .mdl-layout-title {
    display: none !important;
  }
}
