
.mdl-layout-title a {
  color: #ffffff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h4 {
  padding-left: 1em;
}

section {
  h4 {
    margin-left: 0.85em;
  }
}

.warning-msg {
  width: 90%;
  margin: auto;
  margin-top: 1em;

  .warning-msg-content {
    padding: 0.5em 1em;
    background: #fff8a5;
    border-left: 5px solid #ffc107;
  }
}

@media screen and (max-width: 500px) {
  .mdl-layout-title {
    display: none !important;
  }
}

.switch-text {
  cursor: pointer;
}
