$page-max-width: 2000px;
$break-s: 300px;
$break-m: 600px;
$break-l: 1200px;
$img-highlight-opacity: 0.85;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
img {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #000;
}

#bgImg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -20;
}
#bgDark {
  background: #000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

#header {
  position: relative;
  max-width: $page-max-width;
  margin: auto;
}

#logo {
  max-height: 75vh;
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
  margin: auto;
}

.icons {
  text-align: center;
  width: 100%;
  margin-bottom: 2em;
}

#thumbnails {
  max-width: $page-max-width;
  margin: 2em auto;
}

#page-index {

  #thumbnails {
    li {
      text-align: center;
      width: 25%;
      display: inline-block;

      div {
        width: 90%;
        margin: 20px auto 0 auto;
        background: #000000;

        &:hover {
          background: #ffffff;
        }

        img {
          cursor: pointer;
          vertical-align: middle;
          width: 100%;
          background: #000000;

          &:hover {
            opacity: $img-highlight-opacity;
          }
        }
      }
    }

    li.img-0 {
      width: 100%;

      div {
        width: 100%;
      }
    }
  }
}

#page-gallery {

  #thumbnails li {
    display: inline-block;
    margin: 10px auto 0 auto;
    text-align: center;
  }

  #thumbnails li img {
    cursor: pointer;
    width: 100%;
    margin: auto;
  }

  @media screen and (min-width: $break-s) {
    #thumbnails {
      li {
        width: 50%;

        div {
          width: 95%;
          margin: auto;
          background: #000000;

          &:hover {
            background: #ffffff;
          }

          img {
            vertical-align: middle;

            &:hover {
              opacity: $img-highlight-opacity;
            }
          }
        }

        @media screen and (min-width: $break-m) {
          width: 33%;
        }

        @media screen and (min-width: $break-l) {
          width: 25%;
        }
      }
    }
  }
}

#viewMore {
  width: 10em;
  background: #E91E63;
  padding: 0.5em 1em;
  margin: 1em auto 2em;
  display: block;
  text-align: center;
  color: #ffffff;
  border-radius: 0.5em;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.warning {
  width: 80%;
  margin: auto;
  background: #000;
  text-align: center;
  color: #71bae9;
  padding: 0.5em 1em;
  border: 3px double #6cb4ef;
  border-radius: 0.85em;
  box-shadow: 0 0 10px #8cd7f6;
}
